.appWrapper{
  display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
'h h'
'n c';  /*распределяем что сколько заниаем в каждой строке*/
    grid-template-rows: 60px 1fr; /*распределяем  сколько занимает 1 строка, первая  60пх вторая остальное*/
    grid-template-columns: 2fr 10fr; /*распределяем  сколько занимает столбец*/
}
