.appWrapper{
  display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
'h h'
'n c';  /*распределяем что сколько заниаем в каждой строке*/
    grid-template-rows: 60px 1fr; /*распределяем  сколько занимает 1 строка, первая  60пх вторая остальное*/
    grid-template-columns: 2fr 10fr; /*распределяем  сколько занимает столбец*/
}

.header{
grid-area: h;
    background-color: bisque;
}

.header img{
    width: 30px;
}

.nav{
    grid-area: n;
    background-color: darkseagreen;
 }

.content{
    grid-area: c;
    background-color: darkgoldenrod;
}

.content img{
    height: 250px;
    width: 100%;
}

.content .logo{
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.content span {
display: inline-block;
}