.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogsItem{
    color: violet;
}

.dialogs a.active{
text-decoration: none;
    color: bisque;
}
.dialogs a{
text-decoration: none;
}

.dialog{

}

.messages{

}

.message{

}