.nav{
    grid-area: n;
    background-color: darkseagreen;
    padding: 20px;
 }

.item{
    color: white;
    margin-left: 20px;
}

.item a.active{
    color: darkgoldenrod;
}

.item a{
    color: white;
    text-decoration: none;
}